.home {
  display: flex;
  flex-direction: column;
}

#button {
  display:inline-block;

  width: 15%;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #2578d0;
  border: none;
  border-radius: 10px;
  margin: 10px auto;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#button:hover {
  background-color: #0c417a;
}